.home-container {
  padding: 30px;
  text-align: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 25px;
  color: #0c2d57;
}

/* CATEGORIAS GRANDES */
.category-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.category-card {
  background: #1363df;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 20px 35px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.category-card:hover,
.category-card.active {
  background: #47b5ff;
  transform: scale(1.05);
}

/* PESQUISA */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.search-bar input {
  width: 60%;
  max-width: 500px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* BOTÃO OUTROS SERVIÇOS */
.show-all-container {
  margin: 20px 0;
}

.show-all-btn {
  background-color: #0c2d57;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.show-all-btn:hover {
  background-color: #1363df;
}

/* CARDS */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.service-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-info {
  padding: 15px;
}

.service-info h3 {
  color: #0c2d57;
}

.service-info span {
  font-weight: bold;
  color: #1363df;
}

.no-services {
  color: #999;
  text-align: center;
}
.category-card:last-child {
  background: #0c2d57;
}

.category-card:last-child:hover {
  background: #1363df;
}
